django
djangorestframework
drf-nested-routers
django-cors-headers
python-dotenv
celery[redis]
requests
sentry-sdk
psycopg2                    ; platform_system=='Windows'
psycopg2-binary             ; platform_system=='Linux'
gunicorn
